<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Price comparisson</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="home.html"><button type="button" class="btn btn-info">Home</button></a>
    </nav>
    <div class="container mt-5">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
            <div class="col">
                <table class="table">
                    <thead class="thead-dark">
                    <p class="text-center"><label for="itemListMarket">Market: Aldi</label></p>
                      <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Eggs</th>
                        <td>3.85</td>
                      </tr>
                      <tr>
                        <th scope="row">Oil</th>
                        <td>0.79</td>
                      </tr>
                      <tr>
                        <th scope="row">Kiwi</th>
                        <td>0.59</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div class="col">
                <table class="table">
                    <thead class="thead-dark">
                    <p class="text-center"><label for="itemListMarket">Market: Aldi</label></p>
                      <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Eggs</th>
                        <td>3.85</td>
                      </tr>
                      <tr>
                        <th scope="row">Oil</th>
                        <td>0.79</td>
                      </tr>
                      <tr>
                        <th scope="row">Kiwi</th>
                        <td>0.59</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="alert alert-dark" role="alert">
                    <p class="text-center"><strong>Total: €</strong></p>
                    <p>% less expensive than buy everithing in Start market.</p>
                  </div>
            </div>
            <div class="col">
                <table class="table">
                    <thead class="thead-dark">
                    <p class="text-center"><label for="itemListMarket">Market: Aldi</label></p>
                      <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Eggs</th>
                        <td>3.85</td>
                      </tr>
                      <tr>
                        <th scope="row">Oil</th>
                        <td>0.79</td>
                      </tr>
                      <tr>
                        <th scope="row">Kiwi</th>
                        <td>0.59</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div class="col">
                <table class="table">
                    <thead class="thead bg-warning">
                    <p class="text-center"><label for="itemListMarket">Start Market: Aldi</label></p>
                      <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Eggs</th>
                        <td>3.85</td>
                      </tr>
                      <tr>
                        <th scope="row">Oil</th>
                        <td>0.79</td>
                      </tr>
                      <tr>
                        <th scope="row">Kiwi</th>
                        <td>0.59</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="alert alert-warning" role="alert">
                    <p class="text-center"><strong>Total: €</strong></p>
                  </div>
            </div>
        </div>
    </div>
    <script src="" async defer></script>
  </body>
</html>