{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-sm text-center">
        <button type="button" class="btn btn-primary btn-lg"><h4>Market</h4></button>
      </div>
      <div class="col-sm text-center">
        <button type="button" class="btn btn-primary btn-lg"><h4>Item & Price</h4></button>
      </div>
      <div class="col-sm text-center">
        <button type="button" class="btn btn-primary btn-lg"><h4>Wage / hour</h4></button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm text-center bg-light mt-2 p-2 border rounded">
        <h1 class="text-dark">Purchase List</h1>
        {% comment %} {% for i in items %} {% endcomment %}

        <select class="form-select" data-mdb-placeholder="Example placeholder" aria-label="Default select example">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>


        {% comment %} {% endfor %} {% endcomment %}
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center mt-2">
        <div class="col-md-3 text-center">
            <button type="button" class="btn btn-success p-3"><h2>Compare</h2></button>
        </div>
    </div>
  </div>
  {% endblock %}