{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}|Create a new item{% endblock title %}
{% block content %}
    {% if messages %}
      <div class='container'>
            {% for message in messages %}
                <div class='alert alert-{{ message.tags }} mt-2'>
                    {{ message }}
                </div>
            {% endfor %}
      </div>
    {% endif %}
    <div class="container mt-5">
        <label for="itemSearch"><h4><strong>Item Search:</strong></h4></label>
        <form method='GET' action="{% url 'create_item' %}">
          {% csrf_token %}
          {{ filter|crispy }}
          <input class="btn btn-primary" value="Submit" type="Submit"></button>
            </div>
        </div>
    </div>
    <!--- Form *-->
    <div class="container mt-5">
      <h1>Item Creation</h1>
        <form method='POST'>
          {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary" type="submit" name='saveItem'>Add item</button>
            <button class="btn btn-primary" type="submit" name='resetItem'>Reset</button>
        </form>
    </div>
    <!--- Item lists *-->
    <div class="container mt-5">
      <div class="row"><h3><strong>Item list:</strong></h3></label></div>
      <div class='row'>   
        {% for market in list_of_markets %}
        <table class="table">
            {% if not forloop.counter|divisibleby:2 %}
            <thead class="thead-dark">
              <label for="itemListMarket"><strong>Market: {{ market.name|title }}</strong></label>
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              {% for item in list_of_items%}
              <tr>
                <th scope="row">{{item.name}}</th>
                <td>{{item.price|floatformat:2}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
            <thead class="thead-light">
              <label for="itemListMarket"><strong>Market: {{ market.name|title }}</strong></label>
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              {% for item in list_of_items%}
              <tr>
                <th scope="row">{{item.name}}</th>
                <td>{{item.price|floatformat:2}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}
          {% endfor %}
            </tbody>
          </table>
          </div>
          {% endblock content %}