{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    |Create
    a new market
{% endblock title %}
{% block content %}
    {% if messages %}
        <div class="container">
            {% for message in messages %}<div class="alert alert-{{ message.tags }} mt-2">{{ message }}</div>{% endfor %}
        </div>
    {% endif %}
    <div class="container mt-2">
        <div class="row">
            <div class="col-md">
                <h4>
                    <strong>Add a new market:</strong>
                </h4>
            </div>
        </div>
        <form method="POST">
            {% csrf_token %} {{ form|crispy }}
            <button class="btn btn-primary" type="submit" name="saveItem">Add item</button>
        </form>
    </div>
    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <label for="itemList">
                    <h3>
                        <strong>Market list:</strong>
                    </h3>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if list_of_markets %}
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Favorite</th>
                                <th>Market</th>
                                <th>Distance(min)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for market in list_of_markets %}
                                <tr>
                                    <td>
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                            {% if market.favorite %}
                                                <label class="custom-btn custom-btn-yellow">
                                                    <a href="{% url 'unfavorite_market' pk=market.pk %}">
                                                        <i class="fas fa-star"></i>
                                                    </a>
                                                </label>
                                            {% else %}
                                                <label class="custom-btn custom-btn-black">
                                                    <a href="{% url 'favorite_market' pk=market.pk %}">
                                                        <i class="fas fa-star"></i>
                                                    </a>
                                                </label>
                                            {% endif %}
                                        </a>
                                    </label>
                                </div>
                                <td>{{ market.name|title }}</td>
                                <td>{{ market.distance }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No markets added yet.</p>
            {% endif %}
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock content %}
