{% extends "base.html" %} {% load crispy_forms_tags %} {% block title %}|Create
a new market{% endblock title %} {% block content %} {% if messages %}
<div class="container">
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} mt-2">{{ message }}</div>
  {% endfor %}
</div>
{% endif %}
<div class="container mt-2">
  <div class="row">
    <div class="col-md">
      <h4><strong>Add a new market:</strong></h4>
    </div>
  </div>
  <form method="POST">
    {% csrf_token %} {{form|crispy}}
    <button class="btn btn-primary" type="submit" name="saveItem">
      Add item
    </button>
  </form>
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col">
      <label for="itemList">
        <h3>
          <strong>Market list:</strong>
        </h3>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col">
      {% if list_of_markets %}
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Star</th>
            <th scope="col">Market</th>
            <th scope="col">Distance(min)</th>
          </tr>
        </thead>
        <tbody>
          {% for i in list_of_markets %}
          <tr>
            <td>
              {% if i.favorite %}<i class="fas fa-star"></i>{%endif%}
            </td>
            <td>{{i.name|title}}</td>
            <td>{{i.distance}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>No markets added yet.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
