{% extends "base.html" %} {% load crispy_forms_tags %} {% block title %}|Create
a new market{% endblock title %} {% block content %} {% if messages %}
<div class="container">
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} mt-2">{{ message }}</div>
  {% endfor %}
</div>
{% endif %}


    <div class="container mt-5">
        <label for="wagePerHour"><h4><strong>Wage/hour</strong></h4></label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">€</span>
            </div>
            <input type="float" class="form-control" placeholder="0.00" aria-label="Euro amount (with dot and two decimal places)" aria-describedby="button-addon4">
            <div class="input-group-append" id="button-addon4">
             <button class="btn btn-secondary btn" type="button">Edit</button>
              <button class="btn btn-primary" type="button">Save</button>
            </div>
        </div>
    </div>
    {% endblock content %}